*{
	padding: 0;
	margin: 0;
	font-family:sans-serif;
	background-color:#FCF5E5;
}
h1{
	color: green;
	text-align: center;
  position: sticky;
}
.flex{
	flex-direction: row;
	display: flex;
}
.personal{
	border:3px solid lightblue;
	width:35%;
	margin:10px;
	padding:5px;
  text-align: center;
}
.education{
	border:3px solid lightblue;
	width: 65%;
	margin:10px;
  padding:5px;
}
img{
	border: 5px solid lightgrey;
	border-radius: 50%;
	border-width: 3px;
  margin:auto;
}
.edu{
  text-align: left;
  border:1px solid black;
  background-color: #f1f1c1;
  width:90%;
  height: 90%
  padding: 2%;
}

@media only screen and (min-width:320px) and (max-width: 480px){
  .flex{
  flex-direction: column;
  display: flex;
}
.personal{
  border:3px solid #722F37;
  width:80%;
  margin:10px;
  padding:5px;
  text-align: center;
  font-style: italic;
}
.education{
  border:3px solid #722F37;
  width: 80%;
  margin:10px;
  padding:5px;
}
img{
  border: 5px solid #009E60;
  border-radius: 50%;
  border-width: 3px;
  margin:auto;
}
.edu{
  text-align: left;
  border:1px solid black;
  width:80%;
  padding: 2%;
}
h2,h3,h4,p{
  word-wrap: break-word;
}
li,p{
  font-size: 20px;
}
}
@media only screen and (min-width:481px) and (max-width: 768px){
  .flex{
  flex-direction: row;
  display: flex;
}
.personal{
  border:3px solid #722F37;
  width:80%;
  margin:10px;
  padding:5px;
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
.education{
  border:3px solid #722F37;
  width: 80%;
  margin:10px;
  padding:5px;
}
img{
  border: 5px solid #009E60;
  border-radius: 50%;
  border-width: 3px;
  margin:auto;
}
.edu{
  text-align: center;
  border:1px solid black;
  width:80%;
  padding: 2%;
}

h2,h3,h4,p{
  word-wrap: break-word;
}
}
@media only screen and (min-width:769px) and (max-width: 1024px){
  .flex{
  flex-direction: row;
  display: flex;
}
.personal{
  border:3px solid #722F37;
  width:80%;
  margin:10px;
  padding:5px;
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
.education{
  border:3px solid #722F37;
  width: 80%;
  margin:10px;
  padding:5px;
}
img{
  border: 5px solid #009E60;
  border-radius: 50%;
  border-width: 3px;
  margin:auto;
}
.edu{
  text-align: center;
  border:1px solid black;
  width:80%;
  padding: 2%;
}

h2,h3,h4,p{
  word-wrap: break-word;
}
}